h2{
  text-align: center;
  background-color: rgb(234, 235, 236);
  align-content: center;
 
  left: 40px;
}
body{
  background-color: rgb(234, 235, 236);
}

#tag{
  background-color: rgb(234, 235, 236);
}
