<!DOCTYPE html>
<html>
<head>
	<title>Orders List Page</title> 
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>

<body>
    <h2>Product List</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Product Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Redmi Note7 Pro</td>
      <td>25000</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-blue text-center" routerLink="/app-home">Home</button>
<router-outlet></router-outlet>
</body> 