<p>warehouse-create works!</p>
<div class="container">
  <h3>create Inventory </h3>
  <div class="form-group">
      <label for="lblinventoryId">Inventory ID</label>
      <input type="number" class="form-control" id="lblinventoryId" [(ngModel)]="warehouseDetails.inventoryId"  />

  </div>
  <div class="form-group">
      <label for="lblinventoryReceived">Inventory Received</label>
      <input type="number" class="form-control" id="lblinventoryReceived" [(ngModel)]="warehouseDetails.inventoryReceived"
          placeholder="Enter inventory received" />

  </div>


  <div class="form-group">
    <label for="lblinventoryShipped"> Inventory Shipped</label>
    <input type="number" class="form-control" id="lblinventoryShipped" [(ngModel)]="warehouseDetails.inventoryShipped"
        placeholder="Enter inventory shipped" />

</div>
  <div class="form-group">
      <label for="lblinventoryOnhand">Inventory Onhand</label>
      <input type="number" class="form-control" id="lblinventoryOnhand" [(ngModel)]="warehouseDetails.inventoryOnhand"
          placeholder="Enter Inventory Onhand" />

  </div>
  <div class="form-group">
    <label for="lbldateOfrecord">Date of Record</label>
    <input type="date" class="form-control" id="dateOfrecord"  [(ngModel)]="warehouseDetails.dateOfrecord" 
    name="input" placeholder="yyyy-MM-dd" min="2013-01-01" max="2021-12-31" required />
      </div>
  

<div class="form-group">
    <button class="btn btn-primary" (click)="addInventory()">Add</button>
</div>
</div>
<router-outlet></router-outlet>