<p>warehouse-edit works!</p>
<div class="container">
  <h3>Update Inventory </h3>
  <div class="form-group">
      <label for="lblinventoryId">Inventory ID</label>
      <input type="number" class="form-control" id="lblinventoryId" [(ngModel)]="warehouseData.inventoryId"  />

  </div>
  <div class="form-group">
      <label for="lblinventoryReceived">Inventory Received</label>
      <input type="number" class="form-control" id="lblinventoryReceived" [(ngModel)]="warehouseData.inventoryReceived"
          placeholder="Enter inventory received" />

  </div>

  </div>

  <div class="form-group">
    <label for="lblinventoryShipped"> Inventory Shipped</label>
    <input type="number" class="form-control" id="lblinventoryShipped" [(ngModel)]="warehouseData.inventoryShipped"
        placeholder="Enter inventory shipped" />

</div>
  <div class="form-group">
      <label for="lblinventoryOnhand">Inventory Onhand</label>
      <input type="number" class="form-control" id="lblinventoryOnhand" [(ngModel)]="warehouseData.inventoryOnhand"
          placeholder="Enter Inventory Onhand" />

  </div>

 

  <div class="form-group">
      <button class="btn btn-primary" (click)="updateWarehouse()">Update</button>
  </div>
  <!--<div class="form-group">
    <button class="btn btn-primary" (click)="deleteWarehouse()">Delete</button>
</div>-->
  <router-outlet></router-outlet>
